<div class="row">
    <div class="Absolute-Center is-Responsive">
        <div id="logo-container"></div>
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <form action="" id="loginForm">
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input class="form-control" type="text" ng-model="username" name='username' placeholder="username"/>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input class="form-control" type="password" ng-model="password" name='password'
                           placeholder="password"/>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-def btn-block" ng-click="vm.login()">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
