<div class="videogular-container">
	<videogular vg-player-ready="vm.onPlayerReady" vg-theme="vm.config.theme.url">
		<vg-media vg-src="vm.currentQualitySource.sources" vg-tracks="vm.config.tracks">
		</vg-media>

		<vg-controls vg-autohide="vm.config.plugins.controls.autoHide"
		             vg-autohide-time="vm.config.plugins.controls.autoHideTime">
			<vg-play-pause-button></vg-play-pause-button>
			<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
			<vg-scrub-bar>
				<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
			</vg-scrub-bar>
			<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
			<vg-time-display>{{ totalTime | date:'mm:ss' }}</vg-time-display>
			<vg-volume>
				<vg-mute-button></vg-mute-button>
				<vg-volume-bar></vg-volume-bar>
			</vg-volume>
			<vg-text vg-text-src="vm.config.tracks"></vg-text>
			<vg-quality quality-sources="vm.config.qualitySources"
			            default-quality="vm.currentQualitySource"></vg-quality>
			<vg-fullscreen-button></vg-fullscreen-button>
		</vg-controls>

		<vg-overlay-play></vg-overlay-play>
		<vg-buffering></vg-buffering>
	</videogular>
</div>