<div class="notify-bar">
	<div ng-repeat="(type, messageId) in messages ">
		<div class="alert alert-{{type}} notify-bar-child repeat-item " ng-repeat="message in messageId ">
			{{message.content}}
		</div>
	</div>
</div>
