html, body {
    margin: 0;
    padding: 0;
}

.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 1170px;
        height: 658.125px;
    }

    .videogular-container.audio {
        width: 1170px;
        height: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }

    .videogular-container.audio {
        width: 940px;
        height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }

    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}

/* if you would styling the caption, not work on all browser */
::cue {
    background: transparent;
    text-shadow: 3px 3px 2px rgba(0,0,0,0.5),
    2px 0 0 #000,
    -2px 0 0 #000,
    0 2px 0 #000,
    0 -2px 0 #000,
    1px 1px #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
}
vg-text {
    color: #FFFFFF;
    display: table-cell;
    font-size: 18px;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: default;
    position: relative;
}
vg-text ul {
    position: absolute;
    bottom: 100%;
    background-color: #000000;
    margin-bottom: 0;
    padding: 10px;
    right: 0;
    text-align: left;
}
vg-text ul li {
    list-style: none;
    padding: 0 10px;
}
vg-text ul li.active,
vg-text ul li:hover {
    background-color: #222222;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
}